<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2017 By_syk

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.by_syk.lib.nanoiconpack">

    <!-- for saving icons -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- for sending icon to home screen -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- for requesting redrawing -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:label="@string/app_name">

        <activity android:name=".IconPickActivity">
            <!-- For Nova -->
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
                <category android:name="com.novalauncher.category.CUSTOM_ICON_PICKER" />
            </intent-filter>
            <!-- For ADW -->
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WhatsNewActivity"
            android:label="@string/activity_whats_new" />

        <activity
            android:name=".SearchActivity"
            android:label="@string/activity_search" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/activity_about" />

        <!-- android:documentLaunchMode="intoExisting" -->
        <!-- Show another task in Recents screen -->
        <activity
            android:name=".ReqStatsActivity"
            android:label="@string/activity_req_stats"
            android:theme="@style/AppThemeDarkConsole"
            android:launchMode="singleInstance"
            android:documentLaunchMode="intoExisting" />

    </application>

</manifest>
