*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/reserve
/anormaly
/originalwish
/omfg
/blueworld
/fireflies
/pelmix
/wheat
/transparent
/xiaocan
/cardicons
/pdc
/hhope
/lycsky