/.gradle/*
/.idea/*
/projectFilesBackup/*
/build/*
gradlew
gradlew.bat
local.properties
*.iml
/reserve
/anormaly
/originalwish
/omfg
/blueworld
/fireflies
/pelmix
/wheat
/transparent
/xiaocan
/cardicons
/pdc
/hhope
/lycsky
/pitaya
/square
/coffee